<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1385.vb_58b_86ea_fff1">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2168.vf921b_4e72c73"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2168.vf921b_4e72c73">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3832.vc43e04d6d68c">
    <script>pipeline {
    agent any
    environment {
        NEXUS_URL = "localhost:8081"
        NEXUS_CREDS_ID = "nx-uploader"
        GOLANG = "go_lang"
    }

    tools {
        go GOLANG
    }

    stages {
        stage('Clone Repository') {
            steps {
                git 'https://github.com/wickett/word-cloud-generator.git'
            }
        }
        stage('Build code') {
            steps {
                sh '''sed -i "s/1.DEVELOPMENT/1.$BUILD_NUMBER/g" static/version
                      GOOS=linux GOARCH=amd64 go build -o ./artifacts/word-cloud-generator -v
                      gzip -f ./artifacts/word-cloud-generator
                   '''
            }
        }
        stage('Nexus build'){
            steps{
                nexusArtifactUploader(
                    nexusVersion: 'nexus3',
                    protocol: 'http',
                    nexusUrl: NEXUS_URL,
                    groupId: 'pipeline',
                    version: '1.$BUILD_NUMBER',
                    repository: 'word-cloud-build',
                    credentialsId: NEXUS_CREDS_ID,
                    artifacts: [
                        [artifactId: 'word-cloud',
                         classifier: '',
                         file: './artifacts/word-cloud-generator.gz',
                         type: 'gz']
                    ]
                )
            }
        }

    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>